body{
    background-color: rgb(151, 226, 151);
}
    .signup{
        width: 300px;
        border: 2px solid rgb(24, 86, 37);
        border-radius: 10px;
        padding: 50px;
        padding-left: 20px;
        padding: 10ch;
        margin: 20px;
        margin-left: 590px;
        margin-bottom: 40px;
        margin-right: auto;
    }

    .zero{
        margin-top:15px;
        margin-bottom: 5px;
        
    }

   .one{
        margin-left:150px;
   }